@media (max-width: 1199px){
.container{
	width: 900px;
}

.content-section h1 {
    
    font-size: 44px;
   
}

.content-section a {
   
    padding: 9px 17px 8px 15px;
    
}

.course button {
   
    padding: 7px 9px 7px 9px;
}
.course h3 {
    font-size: 22px;
}
.footer-first {
    flex-basis: 50%;
}
.footer-menu {
    flex-basis: 15%;
    
}

}

@media (max-width: 991px){
.container{
	width: 800px;
}
nav ul li a {
    padding: 6px 19px;
}

.course{
	    padding: 0px 22px;
}

.heading h2 {
    text-align: center;
    color: #413960;
    font-size: 30px;
}

.footer-first {
    flex-basis: 64%;
    padding-bottom: 20px;

}
.footer-menu {
    flex-basis: 56%;
    padding-bottom: 20px;
    }








}

@media (max-width: 767px){
.container{
	width: 600px;
}

nav ul li a {
    padding: 6px 12px;
}

.content-section h1 {
    font-size: 34px;
}
.col-1-2 {
    flex-basis: 50%;
    padding: 12px;
    width: 34%;
    }

.col-1-2 {
    flex-basis: 50%;
    padding: 12px;
    width: 34%;
}

.content-section a {
    padding: 7px 9px 7px 9px;
    }

.heading {
    margin-bottom: 30px;
}

.heading h2 {
    text-align: center;
    color: #413960;
    font-size: 25px;
}
.testimonial-content p {
    font-size: 18px;
}

}

@media (max-width: 575px){

.container{
	width: 500px;
}

nav ul li a {
    padding: 6px 7px;
}
.content-section h1 {
    font-size: 30px;
}
.content-section a {
    padding: 5px 4px 5px 4px;
}

.feature-section {
   
    padding: 7px;
}

.feature h3 {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 10px;
}
.feature p {
    font-size: 9px;
}

.feature img {
    max-width: 90%;
    padding-top: 14px;
}
.course h3 {
    font-size: 20px;
}
.course button {
    padding: 4px 0px 4px 0px;
    }
    .course ul li i {
    margin-right: 3px;
}
.testimonial-content p {
    font-size: 15px;
}
.heading h2 {
   
    font-size: 22px;
}

}
